<hr>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_tag("/bookings", method: "get") do %> 
 <table class="table table-bordered"> 
  <th> Flight Number </th>
  <th> Departing </th>
  <th> Arriving </th>
  <th> Date </th>
  <th> Duration </th>
  <tbody>
  <% @flights.each do |f| %>
  <td><%= hidden_field_tag(:passenger, params[:flight][:passenger]) %>
  <%= radio_button_tag(:flight_id, f.id, :checked) %>
  <%= f.flight_number %></td>
  <td><%= f.departing.name %></td>
  <td><%= f.arriving.name %></td>
  <td><%= f.date_formatted %></td>
  <td><%= f.duration_format %></td>
  <% end %>
    </tbody>
  </table>
  <%= submit_tag "Book This Flight", class: "btn btn-primary" %>
  <% end %>
  </div>
 </div>