  <div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_tag("/flights", method: "get") do %>
  <label for="departing">Departing</label>
  <%= collection_select(:flight, :departing_id, Airport.all, :id , :airport_name, {}, { type: 'text', class: "form-control"}) %> <br>

  <label for="departing">Arriving</label>
  <%= collection_select(:flight, :arriving_id, Airport.all, :id , :airport_name, {}, { type: 'text', class: "form-control"}) %> <br>

  <label for="passengers">Passengers</label>
  <%= select(:flight, :passenger, @passengers, {}, { type: 'text', class: "form-control"}) %><br>

  <label for="date">Date</label>
  <%= collection_select(:flight, :date, Flight.date_list, :date, :date_formatted, {}, { type: 'text', class: "form-control"}) %>

  <%= submit_tag "Find Flight", class: "btn btn-primary" %>
  </div>
  </div>

 <% end %> 