  <th> Flight Number </th>
  <th> Departing </th>
  <th> Arriving </th>
  <th> Date </th>
  <th> Duration </th>
  <tbody>
  <td><%= @booking.flight.flight_number %></td>
  <td><%= @booking.flight.departing.name %></td>
  <td><%= @booking.flight.arriving.name %></td>
  <td><%= @booking.flight.date_formatted %></td>
  <td><%= @booking.flight.duration_format %></td>
  </tbody>
  </table>